* {
  margin: 0;
  padding: 0; }

body {
  background: rgba(198, 238, 252, 0.53); }

#content {
  max-width: 960px;
  margin: 8px auto;
  padding: 20px;
  box-sizing: content-box;
  background: #3b3b3b; }

h1,
h2 {
  font-family: "Times New Roman", serif;
  color: #fccd10; }

h1 {
  padding-bottom: 21px;
  text-align: center;
  text-transform: uppercase; }

h2 {
  padding-bottom: 20px; }

p {
  padding-bottom: 16px;
  color: #ffffff; }

a {
  color: #f5c70f; }

.img-left {
  margin-right: 20px;
  float: left;
  padding: 2px;
  border: 2px solid #fccd10; }

.img-right {
  margin-left: 20px;
  float: right;
  padding: 2px;
  border: 2px solid #fccd10; }

.brief {
  max-width: 100%;
  float: none;
  margin-right: 0px;
  margin-bottom: 40px;
  padding: 20px;
  background: #fff178;
  color: #000000; }

table {
  width: 93.5%;
  margin-bottom: 60px;
  border-spacing: 0px;
  color: #ffffff; }
  table caption {
    text-align: right;
    color: #000000; }
  table tr {
    background: #677d01; }
    table tr th {
      padding: 11px 0 10px 20px;
      text-align: left;
      font-weight: normal;
      text-transform: uppercase;
      border-right: 1px solid #ffffff;
      background: #94a34e;
      color: #000000; }
    table tr th:last-child {
      border-right: 0; }
    table tr td {
      padding: 10px 6px 10px 20px;
      border-bottom: 1px solid #94a34e; }

form {
  margin-top: -1px;
  margin-right: -10px; }
  form div {
    margin-bottom: 15px; }
  form p {
    padding-bottom: 0;
    text-transform: uppercase;
    color: #f5c70f; }
  form ::-webkit-input-placeholder {
    padding-left: 5px; }
  form input[type="text"], form textarea {
    border: 1px solid #94a34e; }
  form input[type="text"] {
    width: 100%;
    margin-top: 5px;
    height: 25px; }
  form .customer-name,
  form .customer-surname {
    width: 49%;
    display: inline-block; }
    form .customer-name input[type="text"],
    form .customer-surname input[type="text"] {
      padding-right: 6px; }
  form .customer-surname {
    margin-left: 10px; }
  form .customer-message textarea {
    width: 99.5%;
    height: 150px;
    margin-top: 5px;
    padding: 5px 5px 5px 0; }
  form button {
    margin-top: 5px;
    padding: 10px 63px;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid #f5c70f;
    background: #3b3b3b;
    color: #f5c70f;
    cursor: pointer; }
    form button:hover {
      transition: linear .2s;
      background: #f5c70f;
      color: #3b3b3b; }
