* {
    margin: 0;
    padding: 0;
    font-family: serif;
}

body {
    background: #1c1c1f;
}

h1 {
    margin: 55px 0 100px 15px;
    letter-spacing: -0.5px;
    color: #a19e89;
}

table,
tr,
td {
    width: 80%;
    text-align: left;
    border: 1px solid #d6d1ba;
    border-collapse: collapse;
    color: #d6d1ba;
}

table caption {
    text-align: left;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #d6d1ba;
}

td {
    padding: 10px 50px;
}

.tank-wrapper {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
}

.tank-wrapper:hover {
    background: #2c2c2c;
}

.tank-wrapper img {
    width: 100%;
}

.tank-info {
    display: flex;
    justify-content: center; 
}

.tank-info img,
.tank-info p {
    display: inline-block;
}

.tank-info img {
    width: 25px;
    height: 100%;
    padding-right: 7px;
}

.tank-info span,
.tank-info p,
.back  {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    text-transform: uppercase;
    color: #d6d1ba;
}

.back {
    margin-bottom: 100px;
    padding-left: 20px;
    text-transform: none;
}

.back:hover {
    cursor: pointer;
}

.tank-info span {
    padding-right: 7px;
}

.tank-info-details {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}