// Floats values
$floatLeft: left;
$floatRight: right;

// Page background
$backgroundMain: #dcbb9a;

// Content wrapper background
$backgroundContent: #ffffff;

// Headers h1, h2 font-family, color
$headersFontFamily: "Times New Roman", serif;
$headersColor: #893c00;

// Header text-transform value
$haderTextTransform: none;

// Text on the page
$textMainColor: #000000;

// Image border
$imgBorderColor: #893c00;

// Brief
$briefWidth: 384px;
$briefFloat: left;
$briefMarginRight: 20px;
$briefMarginBottom: 0;
$briefPadding: 20px;
$briefTextColor: #000000;
$briefTextBackground: #fadcba;

// Links
$linksColor: #3d70a1;

// Table header, row, text
$tableHeaderBackground: #e0e0e0;
$tableHeaderRigthBorder: #ffffff;
$tableHeaderColor: #000000;
$tableRowBottomBorder: #e0e0e0;
$tableRowBackground: #ffffff;
$tableCaptionColor: #000000;
$tableTextColor: #000000;

// Form
$formTextColor: #808080;
$formInputBorderColor: #e0e0e0;
$buttonBordersColor: #3d70a1;
$buttonTextColor: #3d70a1;
$buttonTextColorHover: #ffffff;
$buttonBackground: #ffffff;
$buttonBackgroundHover: #3d70a1;