// Floats values
$floatLeft: left;
$floatRight: right;

// Page background
$backgroundMain: rgba(198, 238, 252, 0.53);

// Content wrapper background
$backgroundContent: #3b3b3b;

// Headers h1, h2 font-family, color
$headersFontFamily: "Times New Roman", serif;
$headersColor: #fccd10;

// Header text-transform value
$haderTextTransform: uppercase;

// Text on the page
$textMainColor: #ffffff;

// Image border
$imgBorderColor: #fccd10;

// Brief
$briefWidth: 100%;
$briefFloat: none;
$briefMarginRight: 0px;
$briefMarginBottom: 40px;
$briefPadding: 20px;
$briefTextColor: #000000;
$briefTextBackground: #fff178;

// Links
$linksColor: #f5c70f;

// Table header, row, text
$tableHeaderBackground: #94a34e;
$tableHeaderRigthBorder: #ffffff;
$tableHeaderColor: #000000;
$tableRowBottomBorder: #e0e0e0;
$tableRowBackground: #677d01;
$tableCaptionColor: #000000;
$tableTextColor: #ffffff;

// Form
$formTextColor: #f5c70f;
$formInputBorderColor: #94a34e;
$buttonBordersColor: #f5c70f;
$buttonTextColor: #f5c70f;
$buttonTextColorHover: #3b3b3b;
$buttonBackground: #3b3b3b;
$buttonBackgroundHover: #f5c70f;